/*! HTML5 Boilerplate v5.2.0 | MIT License | https://html5boilerplate.com/ */


/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */


/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}
::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio, canvas, iframe, img, svg, video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before, .clearfix:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
}
.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}
@media print, (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 1.25dppx), (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *, *:before, *:after {
        background: transparent !important;
        color: #000 !important;
        /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }
    a, a:visited {
        text-decoration: underline;
    }
    a[href]:after {
        content: " (" attr(href) ")";
    }
    abbr[title]:after {
        content: " (" attr(title) ")";
    }
    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
    a[href^="#"]:after, a[href^="javascript:"]:after {
        content: "";
    }
    pre, blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }
    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */
    thead {
        display: table-header-group;
    }
    tr, img {
        page-break-inside: avoid;
    }
    img {
        max-width: 100% !important;
    }
    p, h2, h3 {
        orphans: 3;
        widows: 3;
    }
    h2, h3 {
        page-break-after: avoid;
    }
}

/* #############################################################################################################################*/
/* #############################################################################################################################*/
/* #########################################################MON CSS##############################################################*/
/* #############################################################################################################################*/
/* #############################################################################################################################*/
/* #############################################################################################################################*/
/* #############################################################################################################################*/





/* HEADER*/
.bghead {
    padding-bottom: 40px;
    background-image: url("../img/imgxsm/rokfondd.jpg");
    filter: grayscale(30%);
    background-repeat: no-repeat;
    padding-bottom: 9%;
    width: 100%;
}
.polm {
    font-size: 4em;
    margin-left: 7%;
    color: grey;
    opacity: 0.5;
    padding-top: 0;
}
.regl {
    margin-top: 2%;
}
.pol {
    margin-left: 7%;
    color: grey;
}
.polm:hover {
    opacity: 1;
    transition: 0.5s;
    color: white;
}
.bolds {
    font-weight: bold;
}
ul li a {
    color: white !important;
    opacity: 0.5;
    font-weight: bold;
}
ul li a:hover {
    opacity: 1;
    transition: 0.5s;
}
.colord {
    color: white !important;
}
header h1 {
    border-bottom: solid white 1px;
    margin-top: 50px;
    font-size: 40px;
    line-height: 2em;
    color: white;
    margin-left: 10px;
}
header p {
    margin-top: 25px;
    color: white;
    margin-left: 10px;
}
header a {
    color: green;
    padding-bottom: 30px;
    margin-left: 10px;
    margin-left: 7%;
    font-weight: bold;
}
header a:hover {
    text-decoration: none;
    color: grey;
    transition: 0.5s;
}
.nav {
    background-color: transparent !important;
}
.nav1 {
    margin-right: 10% !important;
}
.poliss {
    font-weight: xx-small !important;
    color: grey;
    font-weight: bold !important;
    text-transform: uppercase;
    font-size: 13px !important;
    text-align: left;
    margin-left: 5%;
    word-spacing: 9px;
}
/*AJUSTEMENT*/
.pad {
    padding-bottom: 7%;
}
.haut {
    margin-top: 5%;
}
.first {
    background-color: #F5F6F7 !important;
}
.dsp {
    display: none;
}
.product .img-responsive {
    margin: 0 auto;
}
.intg {
    margin-top: 2%;
}
.transpa {
    opacity: 0.3;
}
.transpa:hover {
    opacity: 1;
    transition: 0.5s;
}
.yes {
    display: none;
}

/* Extra small devices (phones, less than 768px) */


/* #############################################################################################################################*/
/* #############################################################################################################################*/
/* #########################################################MEDIA QUERIES#######################################################*/
/* #############################################################################################################################*/
/* #############################################################################################################################*/
/* #############################################################################################################################*/
/* #############################################################################################################################*/


/* ##################################################################### */


/* ############################   TABLETS   ############################ */


/* ##################################################################### */

@media (min-width: 769px) {
    
    .bghead {
        background-image: url("../img/rokfond.jpg");
    }
    .poliss {
        margin-top: 2% !important;
    }
    .mdz {
        color: white;
        margin-top: 3%;
    }
    .nav {
      font-size: 18px;;
    }
}
@media (min-width: 768px) {
  .dsp {
      display: block;
  }
  .dg {
      display: none;
  }
}
/* Small devices (tablets, 768px and up) */


/* ##################################################################### */


/* ############################   DESKTOPS   ########################### */


/* ##################################################################### */


/* Medium devices (desktops, 992px and up) */

@media (min-width: 1135px) {
    .yes {
        display: block;
    }
    .dsp {
        display: none;
    }
}

/* ##################################################################### */


/* ########################   LARGE DESKTOPS   ######################### */


/* ##################################################################### */


/* Large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {}





/* #############################################################################################################################*/
/* #############################################################################################################################*/
/* #########################################################ANIMATION HEADER####################################################*/
/* #############################################################################################################################*/
/* #############################################################################################################################*/
/* #############################################################################################################################*/
/* #############################################################################################################################*/
@-webkit-keyframes typing {
    /*largeur du caractere a taper safari chrome opera*/
    from {
        width: 0
    }
    to {
        width: 19em
    }
}
@-moz-keyframes typing {
    /*largeur du caractere a taper mozilla firefox*/
    from {
        width: 0
    }
    to {
        width: 12em
    }
}
@-webkit-keyframes blink-caret {
    from, to {
        border-color: transparent
    }
    50% {
        border-color: white
    }
}
@-moz-keyframes blink-caret {
    from, to {
        border-color: transparent
    }
}
h1 {
    opacity: 0.7;
    margin-left: 7% !important;
    font-size: 2em !important;
    font-weight: bolder;
    white-space: nowrap !important;
    overflow: hidden !important;
    border-right: .1em solid lightblue !important;
    -webkit-animation: typing 6s steps(8, end), /* # of steps = # of characters */
    blink-caret 1s step-end infinite;
    -moz-animation: typing 6s steps(30, end), /* # of steps = # of characters */
    blink-caret 1s step-end infinite;
}
h1:hover {
    opacity: 1;
    transition: 0.5s;
    color: green;
}



/* #############################################################################################################################*/
/* #############################################################################################################################*/
/* #########################################################FOOTER##############################################################*/
/* #############################################################################################################################*/
/* #############################################################################################################################*/
/* #############################################################################################################################*/
/* #############################################################################################################################*/
footer div h4 {
    font-weight: bold;
}
.footer-distributed {
    background-color: #21282F;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 55px 50px;
    margin-top: 12%;
}
.footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
    display: inline-block;
    vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left {
    width: 40%;
}

/* The company logo */

.footer-distributed h3 {
    color: #ffffff;
    font: normal 36px 'Cookie', cursive;
    margin: 0;
}
.footer-distributed h3 span {
    color: #5383d3;
}

/* Footer links */

.footer-distributed .footer-links {
    color: #ffffff;
    margin: 20px 0 12px;
    padding: 0;
}
.footer-distributed .footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
}
.footer-distributed .footer-company-name {
    color: #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center {
    width: 35%;
}
.footer-distributed .footer-center i {
    background-color: #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}
.footer-distributed .footer-center i.fa-envelope {
    font-size: 17px;
    line-height: 38px;
}
.footer-distributed .footer-center p {
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin: 0;
}
.footer-distributed .footer-center p span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
}
.footer-distributed .footer-center p a {
    color: #5383d3;
    text-decoration: none;
    ;
}

/* Footer Right */

.footer-distributed .footer-right {
    width: 20%;
}
.footer-distributed .footer-company-about {
    line-height: 20px;
    color: #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}
.footer-distributed .footer-company-about span {
    display: block;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
}
.footer-distributed .footer-icons {
    margin-top: 25px;
}
.footer-distributed .footer-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #33383b;
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-right: 3px;
    margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 1900px) {
    .footer-distributed {
        font: bold 14px sans-serif;
    }
    .footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }
    .footer-distributed .footer-center i {
        margin-left: 0;
    }
}
